

<h1 class="display-3 mt-1" style="margin-left: 35%; padding: 20px;">Add Details</h1>
<div class="container" style="background-color:#dedede;">
<form class="t-5"  [formGroup]="userForm" (ngSubmit)="onSubmit(createForm)" #createForm="ngForm" >
  
    <div class="form-group">  
    <label for="Name">Name :  </label><br>
    <input id="Name" name="Name" type="text" pattern="[a-zA-Z][a-zA-Z ]+" formControlName="Name" size="148"  ><br>
    <div *ngIf="Name.invalid && (Name.dirty||Name.touched)" class="alert alert-danger" >
      <div *ngIf="Name.errors.required" >
        name is required.
      </div>
      <div *ngIf="Name.errors.minlength">
        Name must be at least 2 characters long.
      </div>
      <div *ngIf="Name.errors.maxlength">
        Name must be maximun of 30 characters long.
      </div>
      <div [hidden]="Name.valid || Name.pristine">
        <div [hidden]="!Name.hasError('pattern')">
        Enter correct name.</div>
      </div>
    </div>
    </div>

  
    <label for="email">email :  </label>
    <input id="email" name="email" type="text" formControlName="email" size="148" ><br>
    <div *ngIf="email.invalid && (email.dirty||email.touched)" class="alert alert-danger" >
      <div *ngIf="email.errors.required" >
        email is required..
      </div>
      <div *ngIf="email.errors.email" >
        enter correct email.
      </div>
    </div><br>

  
    <label  for="contact"> Contact :  </label>
    <input id="contact" name="contact" type="text" pattern="^[789]\d{9}$" formControlName="contact" size="148" ><br>
    <button type="submit" class="btn btn-primary mt-4 mb-4" [disabled]="!createForm.valid" >Save</button>
</form>
</div>
  


